body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
  margin-right: 5%;

}

.nav {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  margin-right: 30%;
}


/*text-arrow*/
.small-card-holder {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-between;
  margin: 0 8%;



}






p {

  background-color: blue;
  padding: 1%;
  color: white;
  text-align: center;
  align-items: center;
  width: 27%;
  top: 43%;
  position: absolute;
  z-index: 10;
}



/*black line*/

.line {
  width: 5%;
  height: 30px;
  background-color: black;
  margin: 6px 0;
  align-items: end;
  position: relative;
  margin-left: 95%;
  margin-top: 10%;

}


/* slider*/



.slider-container {
  margin-top: 15%;
  position: relative;
  max-width: 1200px;
  margin: auto;
  margin-top: -15%;
  margin-bottom: 5%;

}

.slider {
  display: flex;
  overflow: hidden;
  position: relative;
}

.slide {
  flex: 0 0 100%;
}

img {
  width: 100%;
  height: auto;
}

.arrow {
  position: absolute;
  top: 43%;
  transform: translateY(-50%);
  font-size: 60px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}


.next {
  right: 0;

}

.dots-container {
  position: absolute;
  text-align: start;
  margin-top: -40px;
  z-index: 10;
  margin-left: 88%;
}

.dot {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 3px solid #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}





.dot.active {
  border: 3px solid white;
  z-index: 2;

}

/*arrow and text*/
.cards {
  display: inline-block;
  margin-right: 20px;
  align-items: center;
  justify-items: center;
  margin: auto;
  justify-content: center;
  margin-bottom: 5%;
  margin-right: 1%;


}

.small-card-holder {
  display: block;
  grid-template-columns: repeat(3, 1fr);
  gap: 1500px;
  /* Adjust the gap as needed */
  margin: 0 8%;
}



.cards1,
.cards {
  flex: 1;
}


.cards1 {
  display: inline-block;
  margin-right: 20px;
  align-items: center;
  justify-items: center;
  margin: auto;
  justify-content: center;
  margin-bottom: 5%;
  margin-right: 1%;
  margin-left: 7%;


}


.greater {
  position: relative;
  background-color: #061c2c;
  color: white;
  width: 22rem;
  padding-left: 1rem;
  padding-top: 5rem;
  padding-bottom: 1rem;

}

.card {
  margin-bottom: 5%;
  display: flex;
  margin: auto;
  justify-content: center;
}

card-text {
  flex: 1;
  margin-top: 10%;


}

.icons {
  margin-left: 10%;
  width: 30%;
  margin-top: -11%;
  z-index: 2;

}

.greater::before {
  content: "\003E";
  color: #1D7BAE;
  position: absolute;
  top: 10px;
  left: 10%;
  transform: translateX(-50%);
  font-size: 50px;
}

.small-cards {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 5%;
  margin-right: 1%;
  background-color: #244AC2;
  color: white;
  font-size: xx-small;
  padding-top: 8px;
  padding-bottom: 5px;
  position: relative;
  width: 160px;
}

.small-cards::before {
  content: '\003E';
  color: #244AC2;
  margin-right: 5px;
}



.small-cards .arrow-icon {
  color: #277FD7;
  margin-left: 15px;
  font-size: xx-small;
}


.p4 {

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 18.4px;
  color: #000000;

}


@media only screen and (max-width: 650px) {
  .p {
    width: 70%;
    background-color: blue;
    padding: 1%;
    color: white;
    top: 19%;
    font-size: 12px;
 
  
  }

  .logo {
    width : 30%;
    height: auto;
  }


  .arrow {
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    font-size: 60px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }

  .dots-container {
    position: absolute;
    text-align: start;
    margin-top: -27px;
    z-index: 10;
    margin-left: 55%; 
}
  
  .dot {
   

    width: 2px;
    height: 2px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  
  .dot.active {
    border: 2px solid white;
    z-index: 2;
  
  }
  
  
.p4 {

  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  line-height: 18.4px;
  color: #000000;
  justify-content: center;
  text-align: center;
  margin:auto;
  align-items: center;
 

}


.card-text {
  margin-left: 15%;
}

.icons {
  margin-left: 10%;
  width: 30%;
  margin-top: -11%;
  z-index: 2;

}


}