body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
  margin-right: 5%;

}

.nav {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  margin-right: 30%;
}


/*text-arrow*/







p{
 
  background-color: blue;
  padding: 1%;
  color: white;
  text-align: center;
  align-items: center;
  width: 27%;
  top: 43%;
  position: absolute;
  z-index: 10; 
  }



/*black line*/

.line{
  width: 5%;
  height: 30px;
  background-color: black;
  margin: 6px 0;
  align-items: end;
  position: relative;
  margin-left:95% ;
  margin-top: 10%;
  
}


/* slider*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.slider-container {
  margin-top: 15%;
  position: relative;
  max-width: 1200px;
  margin: auto;
  margin-top: -15%;
 
}

.slider {
  display: flex;
  overflow: hidden;
  position: relative;
}

.slide {
  flex: 0 0 100%;
}

img {
  width: 100%;
  height: auto;
}

.arrow {
  position: absolute;
  top: 43%;
  transform: translateY(-50%);
  font-size: 60px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.prev {
 left: 0;

}

.next {
  right: 0;
 
}

.dots-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  z-index: 2; 

}

.dot.active {
  background-color: #717171;
  z-index: 2; 

}

/*arrow and text*/
.cards {
  display: inline-block; 
  margin-right: 20px; 
  align-items: center;
  justify-items: center;
  margin: auto;
  justify-content: center;
  margin-bottom: 5%;
  margin-right: 1%;
 
  

}


.greater {
  position: relative;
  background-color: #061c2c;
  color: white;
  width: 22rem;
  padding-left: 1rem;
  padding-top: 5rem;
  padding-bottom: 1rem;
 
}

.card {
  margin-bottom: 5%;
}

.greater::before {
  content: "\003E"; 
  color: #1D7BAE;
  position: absolute;
  top: 10px; 
  left: 10%; 
  transform: translateX(-50%); 
  font-size: 50px;
}

.small-cards {
  display: inline-block; 
  margin-right: 20px; 
  margin-bottom: 5%;
  margin-right: 1%;
  background-color: blue;
  color: white;
  font-size: medium;
  padding: 1rem;

 
}

